@media (max-width: 992px) { 
    
/* MULAI */
#header .bg-orange{
    background-color: #FFB800;
}

#header .nav-link {
    margin-right: 30px;
}

#header .navbar-brand img{
    width: 100px;
    height: auto;
}

#header .navbar-brand {
    color: #5A5A5A;
    font-weight: bold;
    font-size: 32px;
}

#header .nav-link:hover::after {
    content: '';
    display: block;
    border-bottom: 3px #5A5A5A solid;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -7px;
}

/* #banner */
#banner {
    padding-top: 100px;
    background-color: #FFB800;
    color: #5A5A5A;
}
#banner h1 {
    font-family: Roboto;
    font-weight: bold;
    font-size: 35px;
}

#banner p {
    font-family: Roboto;
    font-weight: dark;
    font-size: 15px;
    line-height: 20px;
}

#banner .btn-outline-dark{
    width: 300px;
    height: auto;
}

#banner .img-banner{
    width: 400px;
    height: auto;
    }

#banner .visual-1{
    margin-top: 85px;
    width: 100%;
    height: auto;
    }
    
/* ONGKIR */
#ongkir .bg-ongkir{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: -110px;
    width: 100%;
    height: auto;
    background-color: white;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
    border-radius: 28px;
}

#ongkir h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: #5A5A5A;
}

#ongkir h6{
    font-family: Roboto;
    font-style: normal;
    font-weight: light;
    font-size: 12px;
    color: #5A5A5A;
}

#ongkir .lacak{
    margin-left: 50px;
}

#ongkir .lacakform{
    margin-top: 30px;
}

#ongkir .btn-outline-warning{
    width: 214px;
    height: auto;
}

#ongkir .btn-warning{
    width: 214px;
    height: auto;
    color:white
}

#ongkir .btn-outline-warning:hover{
    background-color: gray;
    color:white;
    border: none;
}

#ongkir .img-lacak{
    width: 320px;
    height: auto;
    margin-left: 50px;
}
/* AKHIR ONGKIR */

#kenapa h1 {
    margin: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    color: #5A5A5A;
}

/* BEGIN KELUARGA */
#keluarga .container {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:#FFB800;
    border-radius: 14px;
}

#keluarga .img-keluarga {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#keluarga h2,h6{
    height: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: regular;
    color: #5A5A5A;
}

#keluarga .btn-outline-dark{
    width: 300px;
    height: auto;
}

/* LEBIH AKURAT */
#lebihakurat .container {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
}

#lebihakurat .img-lebihakurat {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#lebihakurat h2,h6 {
    height: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: regular;   
    color: #5A5A5A;
}

#lebihakurat .btn-outline-dark{
    width: 300px;
    height: auto;
    margin-bottom: 10px;
}

/* LEBIH CEPAT */
#lebihcepat .container {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:#FFB800;
    border-radius: 14px;
}

#lebihcepat .img-lebihcepat {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#lebihcepat h2,h6{
    height: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: regular;
    color: #5A5A5A;
}

#lebihcepat .btn-outline-dark{
    width: 300px;
    height: auto;
}

/* PICKUP */
#pickup .container {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    }

#pickup .img-pickup {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#pickup h2,h6{
    height: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: regular;  
    color: #5A5A5A;
}

#pickup .btn-outline-dark{
    width: 300px;
    height: auto;
}

/* BEGIN EKSPEDISI BERKELUALITAS */
#berkualitas .container {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:#FFB800;
    border-radius: 14px;
}

#berkualitas .img-berkualitas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#berkualitas h2,h6{
    height: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    color: #5A5A5A;
}

#berkualitas .berkualitas {
    height: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: regular;
    color: #5A5A5A;
}

#berkualitas .btn-outline-dark{
    width: 300px;
    height: auto;
}
/* END PILIH EKSPEDISI BERKUALITAS */

#apakata .container {
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: white;
    margin-bottom: 50px;
}

#apakata h2 {
    font-family: Roboto;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    color: #5A5A5A;
}
#apakata h3 {
    font-family: Roboto;
    font-weight: light;
    font-size: 36px;
    text-align: center;
    color: #5A5A5A;
}

/* Thick red border */
#apakata hr{
    border: 1px solid #FFB800;
    width:50%
  }
  
#apakata hr-bawah{
    border: 2px solid #FFB800;
    width:100%
  }

#apakata .img-apakata {
    width:160px;
    height: auto;
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 50%;
}

#apakata .apakata1 {
    margin-top: 80px;
    height: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: regular;
    font-size: 12px;    
    color: #5A5A5A;
}

#apakata .kotakreview1{
    background-color: white;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
    /* margin-right: 20px; */
    margin-left: 80px;
    }

#apakata .textreview {
    width:190px;
    height: auto;
    margin-left: 20px;
    color: #5A5A5A;
    font-style: normal;
    font-weight: bolder;
    font-size: 14px;    
}

#apakata .img-bintang {
    margin-right: 15px;
}

#apakata .img-bintang1 {
    margin-top: 10px;
    margin-left: 15px;
}

#apakata .btn-warning{
    width: 300px;
    height: auto;
}

#footer .bg-footer {
    height: auto;
    margin-top: 20px;
    background-color:#FFB800;
    margin-bottom: 100px;
    padding: 50px;
    border-radius: 28px;
    width: 100%;
}


#footer .media {
    width: 58px;
}

#footer .kata1 h5,h6 {
    margin-top: 10px;
    height: auto;
    font-family: Roboto;
    font-weight: bold;
    color: #5A5A5A;
}

#footer .col-lg-3 h5,h6 .kata1 {
    margin-top: 1px;
    height: auto;
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;    
    color: #5A5A5A;
}

#footer .btn-outline-dark{
    width: 300px;
    height: auto;
}

/* HALAMAN 2 */

#banner-2 {
    padding-top: 100px;
    background-color: #FFB800;
    color: #5A5A5A;
    padding-bottom: 100px;
}
#banner-2 h1 {
    font-family: Roboto;
    font-weight: bold;
    font-size: 35px;
}
#banner-2 p {
    font-family: Roboto;
    font-weight: dark;
    font-size: 15px;
    line-height: 20px;
}

#banner-2 .img-banner{
    width: 400px;
    height: auto;
    }

#layanan .container {
    margin-top: 100px;
    margin-bottom: 100px;
    padding-bottom: 1px;
    padding-top: 1px;
    max-width: 100%;
    background-color: #E8E8E8;
}
#layanan h3,h5,h6 {
    height: auto;
    font-family: Roboto;
    font-weight: bold;  
    color: #5A5A5A;
}

#layanan .layanan{
    background-color: white;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
    margin-left: 120px;
    padding-top: 50PX;
    padding-bottom: 50PX;
    }

#layanan .btn-warning{
        width: 100%;
        height: auto;
        margin-top: 10px;
        font-weight: bold;
        color: #5A5A5A;
    }

#hore .img-hore {
    max-width: 20%;
    }


/* HALAMAN REG */
#REG .container{
    margin-top: 30px;
    margin-bottom: 30px;
}

#REG .bg-ongkir{
    /* padding-top: 50px;
    padding-bottom: 50px; */
    padding: 50px;
    margin-top: 50px;
    width: 100%;
    height: auto;
    background-color: white;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
    border-radius: 28px;
}

#REG h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    color: #5A5A5A;
}


#REG span{
    font-family: Roboto;
    font-weight: lighter;
    color: #5A5A5A;
    font-size: 18px;
}


#REG h6{
    font-family: Roboto;
    font-style: normal;
    font-weight: light;
    color: #5A5A5A;
}

#REG .lacak{
    margin-left: 50px;
}

#REG .lacakform{
    margin-top: 30px;
}

#REG .btn-outline-warning{
    width: 167px;
    height: auto;
}

#REG .btn-warning{
    width: 167px;
    height: auto;
    color:white
}

#REG .btn-outline-warning:hover{
    background-color: gray;
    color:white;
    border: none;
}

#REG .img-lacak{
    width: 320px;
    height: auto;
    margin-left: 50px;
}
/* END HALAMAN REG */

/* INFORMASI */
#informasi H4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: light;
    color: #5A5A5A;
}
#informasi .container {
    margin-top: 30px;
    padding-bottom: 1px;
    padding-top: 1px;
    max-width: 100%;
    height: 500px;
    margin-bottom: 30px;
    background-color: #E8E8E8;
}
/* END INFORMASI */

/* ULASAN */
#ULASAN .container{
    margin-top: 30px;
    margin-bottom: 30px;
}

#ULASAN .bg-ulasan{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    width: 50%;
    height: auto;
    background-color: white;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
    border-radius: 28px;
}

#ULASAN h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    color: #5A5A5A;
}


#ULASAN h5{
    font-family: Roboto;
    font-weight: lighter;
    color: #5A5A5A;
}


#ULASAN h6{
    font-family: Roboto;
    font-style: normal;
    font-weight: light;
    color: #5A5A5A;
}

#ULASAN .lacak{
    margin-left: 50px;
}

#ULASAN .lacakform{
    margin-top: 30px;
}

#ULASAN .btn-outline-warning{
    width: 167px;
    height: auto;
}

#ULASAN .btn-warning{
    width: 167px;
    height: auto;
    color:white
}

#ULASAN .btn-outline-warning:hover{
    background-color: gray;
    color:white;
    border: none;
}
/* AKHIR ULASAN */

/* penutup screen */

}